<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.btzmobileapp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BTZMobileApp"
        tools:targetApi="31">

        <activity
            android:name=".views.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.BTZMobileApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declaração da AdminActivity -->
        <activity
            android:name=".views.admin.AdminActivity"
            android:exported="true"
            android:theme="@style/Theme.BTZMobileApp" />

        <!-- Declaração da CrudUserActivity -->
        <activity
            android:name=".views.admin.CrudUserActivity"
            android:exported="true"
            android:theme="@style/Theme.BTZMobileApp" />

        <!-- Declaração da UserActivity -->
        <activity
            android:name=".views.user.UserActivity"
            android:exported="true"
            android:theme="@style/Theme.BTZMobileApp" />

        <!-- Declaração da PerfilActivity -->
        <activity
            android:name=".views.user.PerfilActivity"
            android:exported="true"
            android:theme="@style/Theme.BTZMobileApp" />

        <!-- Declaração da HistoricoInventariosActivity -->
        <activity
            android:name=".views.user.HistoricoInventariosActivity"
            android:exported="true"
            android:theme="@style/Theme.BTZMobileApp" />

        <!-- Declaração da ListEquipamentosActivity -->
        <activity
            android:name=".views.user.ListEquipamentosActivity"
            android:exported="true"
            android:theme="@style/Theme.BTZMobileApp" />

        <!-- Declaração da NovoInventarioActivity -->
        <activity
            android:name=".views.user.NovoInventarioActivity"
            android:exported="true"
            android:theme="@style/Theme.BTZMobileApp" />

        <!-- Declaração da CadastrarEquipamentoActivity -->
        <activity
            android:name=".views.admin.CadastrarEquipamentoActivity"
            android:exported="true"
            android:theme="@style/Theme.BTZMobileApp" />

        <!-- Declaração da LerEquipamentoActivity -->
        <activity
            android:name=".views.admin.LerEquipamentoActivity"
            android:exported="true"
            android:theme="@style/Theme.BTZMobileApp" />

        <!-- Declaração da VincEquipActivity -->
        <activity
            android:name=".views.admin.VincEquipActivity"
            android:exported="true"
            android:theme="@style/Theme.BTZMobileApp" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>